<hr/>
<h3>Annotation instructions:</h3>

<p>1) Select the <i>sentiment</i> expressed toward the highlighted entity by clicking on the appropriate icon above:</p>

<dl>
  <dt><i class="fa fa-smile"></i> : Positive</dt>
  <dd>Example(s): <span class="ann ann-h0 ann-tENTITY">Skub</span> on loistava, Buks on surkea.</dd>
  <dt><i class="fa fa-meh"></i> : Neutral</dt>
  <dd>Example(s): Minä käytän <span class="ann ann-h0 ann-tENTITY">Skubia</span> / Mitä mieltä olet <span class="ann ann-h0 ann-tENTITY">Skubista</span>?</dd>
  <dt><i class="fa fa-frown"></i> : Negative</dt>
  <dd>Example(s): Skub on loistava, <span class="ann ann-h0 ann-tENTITY">Buks</span> on surkea.</dd>
  <dt><i class="fa fa-question-circle"></i> : Unclear/mixed</dt>
  <dd>Example(s): <span class="ann ann-h0 ann-tENTITY">Skub</span> on loistava, mutta liian kallis.</dd>
</dl>
    
<p>2) Enter one or more <i>aspects</i> of the highlighted entity that the sentiment applies to, for example:</p>

<dl>
  <dt><span class="keyword-span">hinta</span></dt>
  <dd>Example(s): <span class="ann ann-h0 ann-tENTITY">Skub</span> on edullista. / <span class="ann ann-h0 ann-tENTITY">Skub</span> on ylihinnoiteltua</dd>
  <dt><span class="keyword-span">maku</span></dt>
  <dd>Example(s): <span class="ann ann-h0 ann-tENTITY">Skub</span> on herkullista. / <span class="ann ann-h0 ann-tENTITY">Skub</span> maistuu pahalta</dd>
  <dt><span class="keyword-span">hinta</span> <span class="keyword-span">maku</span></dt>
  <dd>Example(s): <span class="ann ann-h0 ann-tENTITY">Skub</span> on herkullista ja halpaa.
</dl>

<p>If several aspects are mentioned, separate them with a comma. Note that aspects are unordered and case-insensitive.</p>
